@model IEnumerable<EntityLayer.Concrete.Book>
@{
    ViewData["Title"] = "SummaryAll";
    Layout = "~/Views/Shared/_MUserLayout.cshtml";
}

@*<div id="content-page" class="content-page">*@
<div class="container-fluid checkout-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between iq-border-bottom mb-0">
                    <div class="iq-header-title">
                        <h4 class="card-title">Kitaplar</h4>
                    </div>
                    <div class="iq-search-bar">
                        <form action="SummaryAll" method="get" class="searchbox">
                            <input type="text" class="text search-input" placeholder="Ara...">
                            <a class="search-link"><i class="ri-search-line"></i></a>
                        </form>
                    </div>
                </div>
                <div class="iq-card-body">
                    <ul class="list-inline p-0 m-0">
                        @foreach (var book in Model)
                        {
                            <li class="checkout-product">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-lg-2">
                                        <div class="row align-items-center">
                                            <div class="col-sm-3">
                                                <a href="javascript:void();" class="badge badge-danger"><i class="ri-close-fill"></i></a>
                                            </div>
                                            <div class="col-sm-9">
                                                <span class="checkout-product-img">
                                                    <a href="javascript:void();"><img class="img-fluid rounded" src="@book.BookImage" alt=""></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-lg-4">
                                        <div class="checkout-product-details">
                                            <h5>@book.BookName</h5>
                                            <p class="text-success">@book.Writer.WriterName @book.Writer.WriterSurname</p>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="row align-items-center mt-2">
                                                    <div class="col-sm-7 col-lg-6">
                                                        @*<button type="button" class="fa fa-minus qty-btn" id="btn-minus"></button>
                                                            <input type="text" id="quantity" value="0">

                                                            <button type="button" class="fa fa-plus qty-btn" id="btn-plus"></button>*@
                                                        @*<h6>@book.BookSummaries.</h6>...*@
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="~/Summary/SummaryBook/@book.BookId" class="btn btn-primary view-more">Özetleri Gör</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
