@model IEnumerable<EntityLayer.Concrete.BookSummary>
@{
    ViewData["Title"] = "SummaryBook";
    Layout = "~/Views/Shared/_MUserLayout.cshtml";
}
@*<div class="col-sm-12 col-lg-6">*@

<div class="iq-card-body">
    <!-- Button trigger modal -->

</div>

<div class="iq-card">

    <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
            <h4 class="card-title">Özetler</h4>
        </div>
    </div>
</div>
@foreach (var item in Model)
{

    <div class="iq-card">

        <div class="iq-card-body">
            <ul class="list-unstyled">

                <li class="media">
                    <img src="@item.User.Image" class="mr-3 avatar-80" alt="#">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">@item.User.Name @item.User.Surname</h5>
                        @item.SummaryDescription.Substring(0, item.SummaryDescription.Substring(0, 150).LastIndexOf(" ")) ...
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable" data-url="@Url.Action($"Edit/{ item.SummaryId}")">
                        Özeti Oku
                    </button>
                </li>




            </ul>
        </div>

    </div>
}
<div id="ugur"></div>
 <script>
    $(function () {
        var ugurac = $('ugur');
        $('button[data-toggle="modal"]').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                ugurac.html(data);
                ugurac.find('.modal').modal('show');
            })

        })
    })
</script>